ENV_MODE=development

# Qdrant
QDRANT_URL=your-qdrant-container
QDRANT_API_KEY=your-qdrant-api-key-empty-if-local-or-self-hosted

# Redis 
REDIS_URL=your-redis-container

# Gemini
GEMINI_API_KEY=your-gemini-api-key